# ignore api keys
key
__pycache__
.venv
.env
.DS_Store
.vscode
data/wrapped-count.txt
data/badges/
.dev.log
data/templates/
data/template-submissions/
data/template-creators/
data/template-assets/
data/template-uses.json
